* {
    margin: 0px;
    padding: 0px;
}
/*Styling the body*/
body {
    background-color: rgb(255, 0, 208);
}

/*Styling the name LogIn*/
h1 {
    border-bottom: 3px solid blue;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    background: none;
    margin-right: 105px;
    margin-top: 50px;
    font-family: "Baloo Bhai 2", cursive;
}

/*Styling the class container*/
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.row1 {
    position: absolute;
    width: 400px;
    left: 33%;
    background-color: blueviolet;
    
}

/*Styling and positioning the login form*/
.row {
    position: relative;
}
.row input {
    position: relative;
    left: 25px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    outline: none;
    background: white;
    border: 0px;
    font-weight: bold;
    border-bottom: 3px solid blue;
    font-family: "Baloo Bhai 2", cursive;
}
.row i {
    position: absolute;
    margin-top: 10px;
    padding: 10px;
}

 /*Styling the buttons in the login*/
 .btn {
    width: 4rem;
    border-radius: 15px;
    background: none;
    margin-left: 150px;
    margin-right: 105px;
    background-color: black;
    color: blanchedalmond;
    outline: none;
    font-family: "Baloo Bhai 2", cursive;
    cursor: pointer;
}
.btn:hover {
    background-color: blue;
    color: white;
}